*.py[cod]
*.manifest
*.spec
*.so
*.mo
*.pot
*.log
*.local.yml
*.local.yaml
*.local.json

__pycache__/
.DS_Store
.tmp/
.idea/
.vagrant/
celerybeat-schedule
Ansiblefile.lock
pip-log.txt
npm-debug.log
pip-delete-this-directory.txt
node_modules/
jspm/github/
jspm/npm/
bower/

/workspace/_settings/
/ansible/librarian/
/public/media/
/public/static/*
!/public/static/www/
