server {
    listen 80;
    server_name {{ hosts.dev.domain }};
    charset utf-8;

    error_log /var/log/nginx/{{ workspace }}-dev-error.log crit;
    client_max_body_size 75M;
    gzip_static on;
    gzip_vary on;
    server_tokens off;
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout  60;
    access_log off;
    log_not_found off;
    expires -1;

    location /www/ {
        proxy_set_header Host $host;
        proxy_pass http://127.0.0.1:8001/www/;
        client_max_body_size 100m;
    }

    location / {
        proxy_set_header Host $host;
        proxy_pass http://127.0.0.1:8000;
        client_max_body_size 100m;
    }
}
