server {
    listen 80;
    server_name {{ hosts.socket.domain }};
    charset utf-8;

    error_log /var/log/nginx/{{ workspace }}-socket-error.log crit;
    client_max_body_size 75M;
    gzip_static on;
    gzip_vary on;
    server_tokens off;
    sendfile on;
    tcp_nopush on;
    tcp_nodelay on;
    keepalive_timeout  60;
    access_log off;
    log_not_found off;
    expires -1;

    location / {
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header Host $host;
        proxy_http_version 1.1;
        proxy_pass http://127.0.0.1:8002/;
    }
}
